<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/ramsLayout}">
<th:block layout:fragment="script">
	<script th:src="@{js/common.js}"></script>
	<!-- <script th:src="@{js/business/tb/TB04030S.js}"></script> -->
</th:block>
<th:block layout:fragment="customContent">
	<!-- 04 실적현황 -->
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<!-- 조회조건영역 -->
					<div class="ibox-content mb-2 i-filter">
						<div class="form-group form-inline row">
							<!-- 1 -->
							<div class="col-sm-10 form-group mb-1">
								<label class="col-sm-1 control-label">
									<span class="req"></span>기준년월
								</label>
								<div class="col-sm-2 input-group month">
									<input type="text" class="form-control" id="" value="" placeholder="yyyy-mm">
									<span class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
							<div class="col-sm-1-5 text-right pl-0">
								<button class="btn btn-primary" type="button" onclick="">
									<i class="fa fa-search"></i>&nbsp;조회
								</button>
								<button id="" class="btn btn-default" onclick="">
									<i class="fa fa-undo"></i>&nbsp;초기화
								</button>
							</div>
						</div>
					</div>


					<div class="ibox-content" style="min-height: 800px">
						<!-- 실적현황 -->
						<div class="ibox">
							<div class="ibox-title">
								<h4>▶ 실적현황</h4>
							</div>
							<div class="ibox-content">
								<div style="height:720px">
									//그리드
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- 경영계획 달성룰 관리 모달 창 -->
	<div id="" class="modal fade show" aria-labelledby="" style="z-index: 4000 !important; display: none; /* display: block; */" aria-modal="true" role="dialog">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-header metis-modal-header" data-event="on">
					<h4 class="modal-title">경영계획 달성룰 관리</h4>
					<div class="col-sm-1 text-right">
                   		<button type="button" class="btn btn-default" onclick=""><i class="fa fa-times"></i></button>
                   	</div>
				</div>
				<div class="modal-body">
					<input type="hidden" name="" id="" value="">
					<div class="row">
						<div class="col-sm-12 b-r">
							<div class="ibox mb-0">
								<!-- 조회조건영역 -->
				    			<div class="ibox-content i-filter text-right">
				    				<form method="get">
										<div class="form-group form-inline row">
											<div class="col-sm-12 form-group">
												<label class="col-sm-1 control-label">
													<span class="req"></span>기준년월
												</label>
												<div class="col-sm-3 input-group month">
													<input type="text" class="form-control" id="" value="" placeholder="yyyy-mm">
													<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
													</span>
												</div>
												
												<div class="col-sm-8 text-right">
													<button type="button" class="btn btn-primary mr-2" onclick="getDealInfo();"><i class="fa fa-search"></i>&nbsp;조회</button>
												</div>	
											</div>
										</div>	
				    				</form>
				    			</div>
				    			<!-- 조회결과 -->
				    			<div class="ibox-content">
				    				<div id="" >
										//그리드
									</div>
				    			</div>
							</div><!-- ibox -->
						</div>
					</div>
				</div>
			</div><!-- end of modal_content -->
		</div>
	</div>
</th:block>

</html>