<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanuri.rams.business.common.tt.TT03040SMapper">

  <!-- 결과 테스트용 -->
  <select id="ibSpecSearch" parameterType="com.nanuri.rams.business.common.tt.TT03040SDTO" resultType="com.nanuri.rams.business.common.vo.IBIMS101BVO">
    SELECT
      B.DEAL_NO,                                               /* 딜번호 */
      B.BUSI_DCD,                                              /* 사업구분코드 */
      B.RGST_DT,                                               /* 등록일자 */
      NVL(                                                   /* NVL을 사용하여 NULL 처리 */
          (SELECT CD_VL_NM
          FROM IBIMS002B
          WHERE CMNS_CD_GRP = 'I020' AND CD_VL_ID = B.BUSI_DCD),
          ''
      ) AS BUSI_DCD_NM,                                        /* 사업구분 코드명 */
      NVL(B.BUSI_DETL_DCD, '') AS BUSI_DETL_DCD,            /* 사업상세구분코드 */
      B.DEAL_NM,                                               /* 딜명 */
      NVL(B.ORTN_FND_CD, '') AS ORTN_FND_CD,               /* 운용펀드코드 */
      B.MNGM_BDCD,                                             /* 관리부점코드 */
      (SELECT CD_VL_NM 
      FROM IBIMS002B 
      WHERE CMNS_CD_GRP = 'D010' AND CD_VL_ID = B.MNGM_BDCD
      ) AS MNGM_BDCD_NM,                                       /* 관리부점 코드명 */
      B.CHRR_EMPNO,                                            /* 담당자사원번호 */
      (SELECT MAX(EMP_NM) FROM IBIMS003B WHERE EMPNO = B.CHRR_EMPNO) AS CHRR_EMPNM, /* 담당자 이름 */
      NVL(                                                 /* NVL을 사용하여 NULL 처리 */
          (SELECT MAX(MTR_PRG_STTS_DCD)
          FROM IBIMS103B A
          WHERE A.DEAL_NO = B.DEAL_NO),
          '101'
      ) AS MTR_PRG_STTS_DCD,                                   /* 테이블 컬럼 미존재로 임시 하드코딩 */
      NVL(                                                 /* NVL을 사용하여 NULL 처리 */
          (SELECT CD_VL_NM
          FROM IBIMS002B A
          WHERE CMNS_CD_GRP = 'I011' AND A.CD_VL_ID = (
              SELECT MAX(MTR_PRG_STTS_DCD)
              FROM IBIMS103B A
              WHERE A.DEAL_NO = B.DEAL_NO
          )),
          '딜정보저장'
      ) AS MTR_PRG_STTS_DCD_NM                                 /* 테이블 컬럼 미존재로 임시 하드코딩 */
    FROM     IBIMS101B B
    WHERE    B.DEAL_NO LIKE '%' || #{dealNumbeer} || '%'
    <if test="createStartDate != null and createEndDate != null">
    	AND B.RGST_DT BETWEEN #{createStartDate} AND #{createEndDate}
  	</if>
    ORDER BY B.RGST_DT DESC
  </select>

  <!-- 실제 테이블용 -->
  <!-- <select id="ibSpecSearch" parameterType="com.nanuri.rams.business.common.tt.TT03040SDTO" resultType="com.nanuri.rams.business.common.tt.TT03040SVO">
    SELECT DEAL_NO AS DEAL_NO,
           DEAL_NM,
           HND_DETL_DTM,
           DEAL_NO AS MNGM_BDCD_NM,
           DEAL_NO AS CHRR_EMPNM,
           DEAL_NO AS MTRP_RGSTT_SDCD,
           DEAL_NO AS MTRP_RGSTT_SDCD_NM
    FROM   TEST101B
    WHERE  DEAL_NO = #{dealNumbeer}
    AND    HND_DETL_DTM BETWEEN #{createStartDate} AND #{createEndDate}
  </select> -->

  <!-- 돋보기로 이름 찾기 -->
  

</mapper>
