<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{css/plugins/touchspin/jquery.bootstrap-touchspin.min.css}" />
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{js/plugins/touchspin/jquery.bootstrap-touchspin.min.js}"></script>
	<script th:src="@{js/tabs.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/fileUpload.js}"></script>
	<script th:src="@{js/business/tb/TB03022P.js}"></script>
	<script th:src="@{js/business/tb/TB03061P.js}"></script>
	<script th:src="@{js/business/tb/TB06011P.js}"></script>
	<script th:src="@{js/business/tb/TB07021P.js}"></script>
	<script th:src="@{js/business/tb/TB07110S.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
	<th:block th:replace="business/tb/TB03022P :: TB03022P"></th:block>
	<th:block th:replace="business/tb/TB03061P :: TB03061P"></th:block>
	<th:block th:replace="business/tb/TB06011P :: TB06011P"></th:block>
	<th:block th:replace="business/tb/TB07021P :: TB07021P"></th:block>
</th:block>

<th:block layout:fragment="customContent">
	<!-- 지급품의서실물증빙 -->
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<!-- 조회조건영역 -->
					<div id="TB07110S_searchForm" class="ibox-content i-filter">
						<div class="form-group row form-inline">
							<div class="col-sm-10 form-group mb-1">
								<!-- 조회구분 -->
								<label class="col-sm-1 control-label">
									조회구분
								</label>
								<div class="col-sm-2">
									<div class="input-group">
										<select class="form-control" id="TB07110S_selCcd">
											<option value="0">전체</option>
											<option value="1"></option>
										</select>
									</div>
								</div>
								<!-- 조회기간 -->
								<label class="col-sm-1 control-label">
									조회기간
								</label>
								<div class="col-sm-3 input-group">
									<div class="col-sm-5 input-group date px-0">
										<input type="text" class="form-control" id="TB07110S_startDt" name="" value=""
											placeholder="YYYY-MM-DD">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
									<span class="input-group-addon border-none"> ~ </span>
									<div class="col-sm-5 input-group date px-0">
										<input type="text" class="form-control" id="TB07110S_endDt" name="" value=""
											placeholder="YYYY-MM-DD">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
								<!-- 부점코드 -->
								<label class="col-sm-1 control-label">
									부서코드
								</label>
								<div class="col-sm-3">
									<div class="input-group">
										<select class="form-control" id="TB07110S_dprtNm">
											<option value="">전체</option>
										</select>
										<input type="text" class="form-control" id="TB07110S_dprtCd" readonly="">
									</div>
								</div>
							</div>
							<div class="col-sm-10 form-group">
								<!-- 승인상태 -->
								<label class="col-sm-1 control-label">
									승인상태
								</label>
								<div class="col-sm-2">
									<div class="input-group">
										<select class="form-control" id="TB07110S_jobDecdCd">
											<option value="0">전체</option>
											<option value="1"></option>
										</select>
									</div>
								</div>
								<!-- 거래처 -->
								<label class="col-sm-1 control-label">
									거래처
								</label>
								<div class="col-sm-3">
									<div class="input-group">
										<input type="text" class="form-control" id="TB07110S_ardyBzepNo">
										<span class="input-group-append">
											<button type="button" class="btn btn-default"
												onclick="callTB03061P('TB07110S');"><i
													class="fa fa-search"></i></button>
										</span>
										<input type="text" class="form-control" id="TB07110S_bzepName" readonly>
									</div>
								</div>
							</div>
							<!-- 버튼영역 -->
							<div class="col-sm-1-5 text-right">
								<button class="btn btn-primary" onclick="TB07110Sjs.TB07110S_selectIBIMS431B();">
									<i class="fa fa-search"></i>&nbsp;조회</button>
								<button class="btn btn-default" type="button" onclick="TB07110Sjs.resetAllInput();">
									<i class="fa fa-undo"></i>&nbsp;초기화
								</button>
							</div>
						</div>
					</div>
					<!-- 조회결과 -->
					<div class="ibox-content" style="min-height: 800px">
						<div class="ibox">
							<div class="ibox-title">
								<h5>▶&nbsp;미지급품의 목록</h5>
							</div>
							<div class="ibox-content">
								<div id="TB07110S_grd_txbl"></div>
							</div>
						</div>


						<div id="TB07110S_mergeForm" class="ibox">
							<div class="ibox-content pd-3">
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1">처리구분</label>
										<div class="col-sm-3 input-group">
											<div class="btn-group pd0">
												<button class="btn btn-s toggleBtn1 btn-info"
													onclick="TB07110Sjs.toggleBtnHandler('등록/변경');">등록/변경</button>
												<button class="btn btn-s toggleBtn2 btn-default"
													onclick="TB07110Sjs.toggleBtnHandler('삭제');">삭제</button>
											</div>
											<span class="vr"> │ </span>
											<div class="col-sm-5 input-group pd0">
												<button class="btn btn-default" type="button"
													onclick="TB07110Sjs.resetInput();">
													<i class="fa fa-undo"></i>&nbsp;초기화
												</button>
											</div>
										</div>
									</div>
								</div>

								<div class="hr"></div>
								<div id="ibims431bdto">
									<div class="row form-group form-inline text-right">
										<div class="col-sm-12 form-group">
											
											<input type="hidden" class="form-control" value="" id="TB07110S_wrtnDt">
											<input type="hidden" class="form-control" value="" id="TB07110S_rslnBdcd">
											<input type="hidden" class="form-control" value="" id="TB07110S_decdSttsDcd">

											<label class="col-sm-1">회계일자</label>
											<div class="col-sm-2">
												<span class="input-group date">
													<input type="text" class="form-control" value=""
														id="TB07110S_acctDt" placeholder="YYYY-MM-DD">
													<span class="input-group-addon"><i
															class="fa fa-calendar"></i></span>
												</span>
											</div>
											<label class="col-sm-1">거래처</label>
											<div class="col-sm-2">
												<div class="input-group">
													<input type="text" class="form-control" id="TB07110S_2_ardyBzepNo">
													<span class="input-group-append">
														<button type="button" class="btn btn-default"
															onclick="callTB03061P('TB07110S_2');"><i
																class="fa fa-search"></i></button>
													</span>
													<input type="text" class="form-control" id="TB07110S_2_entpNm"
														readonly="">
												</div>
											</div>
											<label class="col-sm-1">실명확인번호</label>
											<div class="col-sm-2">
												<div class="input-group">
													<input type="text" class="form-control" id="TB07110S_asdf8">
												</div>
											</div>
											<label class="col-sm-1">매입공제</label>
											<div class="col-sm-2">
												<div class="input-group">
													<select class="form-control" id="TB07110S_pchsDdcDcd">
														<option value="">전체</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row form-group form-inline text-right">
										<div class="col-sm-12 form-group">
											<label class="col-sm-1">품의번호</label>
											<div class="col-sm-2">
												<div class="input-group">
													<input type="text" class="form-control" id="TB07110S_cnstNo"
														disabled>
												</div>
											</div>
											<label class="col-sm-1">지급은행</label>
											<div class="col-sm-2 input-group">
												<input type="text" class="form-control" id="TB07110S_fnltCd">
												<span class="input-group-append">
													<button type="button" class="btn btn-default" id="TB07110S_btnFnltCd" onclick="callTB07021P('TB07110S')"><i class="fa fa-search"></i></button>
												</span>
												<input type="text" class="form-control" id="TB07110S_fnltNm" readonly="">
											</div>
											<label class="col-sm-1">예금주명</label>
											<div class="col-sm-2">
												<div class="input-group">
													<input type="text" class="form-control" id="TB07110S_achdNm">
												</div>
											</div>
										</div>
									</div>
									<div class="row form-group form-inline text-right">
										<div class="col-sm-12 form-group">
											<label class="col-sm-1">자금원장</label>
											<div class="col-sm-2">
												<div class="input-group">
													<select class="form-control" id="TB07110S_fndsLdgDcd">
														<option value="">전체</option>
													</select>
												</div>
											</div>
											<label class="col-sm-1">계좌번호</label>
											<div class="col-sm-2">
												<div class="input-group">
													<input type="text" class="form-control" id="TB07110S_bano">
												</div>
											</div>
											<label class="col-sm-1">관련근거</label>
											<div class="col-sm-2">
												<div class="input-group">
													<input type="text" class="form-control" id="TB07110S_reltFdtnCtns">
												</div>
											</div>
											<label class="col-sm-1">작성자</label>
											<div class="col-sm-2">
												<div class="input-group">
													<input type="text" class="form-control" id="TB07110S_rgstEmpno"
														disabled>
													<span class="input-group-append">
														<button type="button" class="btn btn-default" onclick=""><i
																class="fa fa-search"></i></button>
													</span>
													<input type="text" class="form-control" id="TB07110S_rgstEmpnm"
														disabled>
												</div>
											</div>
										</div>
									</div>
									<div class="row form-group form-inline text-right">
										<div class="col-sm-12 form-group">
											<label class="col-sm-1">지급방법</label>
											<div class="col-sm-2">
												<div class="input-group">
													<select class="form-control" id="TB07110S_acctPymtMthCd">
														<option value="">전체</option>
													</select>
												</div>
											</div>
											<div class="col-sm-3 form-group pd0">
												<label class="col-sm-4">편익제공</label>
												<input class="col-sm-1" type="checkbox" id="TB07110S_bnftYn">
												<label class="col-sm-3">접대부여부</label>
												<input class="col-sm-1" type="checkbox" id="TB07110S_entmAccXstcYn">
											</div>
											<div class="col-sm-3"></div>
											<label class="col-sm-1">승인자</label>
											<div class="col-sm-2">
												<div class="input-group">
													<input type="text" class="form-control" id="TB07110S_2_empNo">
													<span class="input-group-append">
														<button type="button" class="btn btn-default"
															onclick="callTB03022P('TB07110S_2');"><i
																class="fa fa-search"></i></button>
													</span>
													<input type="text" class="form-control" id="TB07110S_2_empNm"
														disabled>
												</div>
											</div>
											<!-- <label class="col-sm-1">증빙첨부</label>
											<span class="col-sm-2 text-left">
												<button class="btn btn-default"><i
														class="fa fa-upload m-1"></i>파일첨부</button>
											</span> -->
										</div>
									</div>
								</div>
							</div>
							<div class="ibox form-inline mt-2">
								<!-- 버튼영역 -->
								<div class="col-sm-12 text-right pd0">
									<button class="btn btn-success" type="button" onclick="TB07110Sjs.doExc();"
										id="TB07110S_excBtn"><i class="fa fa-check"></i>&nbsp;실행</button>
								</div>
							</div>
							<div class="ibox mb-0 mt-2">
								<div class="text-right">
									<button class="btn btn-info" id="TB07110S_apvlRqst"
										onclick="TB07110Sjs.apvlRqst();"><i
											class="fa fa-square-o"></i>&nbsp;결재요청</button>
									<button class="btn btn-danger" id="TB07110S_apvlCncl"
										onclick="TB07110Sjs.apvlRqstCncl();"><i class="fa fa-undo"></i>&nbsp;회수</button>
									<button class="btn btn-success" id="TB07110S_apvl" onclick="TB07110Sjs.apvl();"><i
											class="fa fa-check-square-o"></i>&nbsp;결재</button>
									<button class="btn btn-danger" id="TB07110S_gbck" onclick="TB07110Sjs.rjct();"><i
											class="fa fa-ban"></i>&nbsp;반려</button>
								</div>
							</div>


							<br>

							<div class="tabs-container mt-2">
								<ul class="nav nav-tabs" role="tablist" id="ramsTab">
									<li><a class="nav-link" data-toggle="tab" href="#tab-1">상세</a></li>
									<li><a class="nav-link" data-toggle="tab" href="#tab-2">증빙첨부</a></li>
								</ul>
								<div class="tab-content">

									<div role="tabpanel" id="tab-1" class="tab-pane active">
										<div class="panel-body">
											<div class="row">
												<div class="col-sm-12">
													<div class="ibox mb-0">
														<div class="ibox-title">
															<h5>▶&nbsp;상세</h5>
															<div class="ibox-tools">
																<button id="TB07110S_addRow" class="btn btn-default btn-xs" onclick="TB07110Sjs.addRow();"
																	disabled>
																	<i class="fa fa-plus"></i>&nbsp;행추가
																</button>
																<button id="TB07110S_delRow" class="btn btn-default btn-xs" onclick="TB07110Sjs.delRow();"
																	disabled>
																	<i class="fa fa-minus"></i>&nbsp;행삭제
																</button>
															</div>
														</div>
														<div class="ibox-content">
															<div id="TB07110S_grd_basic"></div>
														</div>
														<div class="ibox form-inline mt-3">
															<!-- 버튼영역 -->
															<div class="col-sm-12 text-right pd0">
																<button class="btn btn-success" type="button" onclick="TB07110Sjs.saveIBIMS432B()" id="TB07110S_saveBtn"><i class="fa fa-save"></i>&nbsp;저장</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" id="tab-2" class="tab-pane">
										<div class="panel-body">
											<div class="row">
												<div class="col-lg-12">
													<div class="ibox mb-0">
														<div class="ibox-title">
															<h5>▶ 증빙첨부</h5>
															<div class="ibox-tools">
																<div id="file-upload">
																	<form id="upload-file-form">
																		<input type="hidden" id="fileKey1"
																			name="fileKey1">
																		<input type="hidden" id="fileKey2"
																			name="fileKey2" value="*">
																		<input type="hidden" class="form-control"
																			id="key1">
																		<button class="btn btn-default btn-xs"
																			type="button" id="UPLOAD_AddFile"
																			disabled="disabled"><i
																				class="fa fa-upload"></i>&nbsp;파일추가</button>
																		<button class="btn btn-default btn-xs"
																			type="button" id="UPLOAD_DelFiles"
																			disabled="disabled"><i
																				class="fa fa-eraser"></i>&nbsp;파일삭제</button>
																		<div style="display: none">
																			<input type="file" class="custom-file-input"
																				id="deal-upload-input" name="uploadfile"
																				accept="*">
																		</div>
																	</form>
																</div>
															</div>
														</div>
														<div class="ibox-content">
															<table class="table table-bordered">
																<colgroup>
																	<col style="width: 10%;">
																	<!-- <col style="width: 0%;"> -->
																	<!-- <col style="width: 5%;"> -->
																	<!-- <col style="width: 10%;"> -->
																	<col style="width: 70%;">
																	<col style="width: 30%;">
																</colgroup>
																<thead>
																	<tr>
																		<th>선택</th>
																		<!-- <th></th> -->
																		<!-- <th>Sub Key</th> -->
																		<!-- <th>일련번호</th> -->
																		<th>파일명</th>
																		<th>등록일자</th>
																	</tr>
																</thead>
																<tbody id="UPLOAD_FileList">
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- row -->
	</div>
</th:block>

</html>