<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/business/tb/TB07030S.js}"></script>
	<script th:src="@{js/business/tb/TB06011P.js}"></script>
	<script th:src="@{js/business/tb/TB03022P.js}"></script>
	<script th:src="@{js/business/tb/TB11111S.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
	<th:block th:replace="business/tb/TB06011P :: TB06011P"></th:block>
	<th:block th:replace="business/tb/TB03022P :: TB03022P"></th:block>
</th:block>

<th:block layout:fragment="customContent">
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">
						<!-- row1 -->
						<div class="row form-group form-inline text-right mb-1">
							<div class="col-sm-12 form-group">
								<label class="col-sm-1 col-form-label text-right">
									<span class="req"></span>종목코드
								</label>
								<div class="col-sm-3">
									<div class="input-group">
										<input type="hidden" id="TB07030S_earlyRepayYn">
										<input type="text" class="form-control" id="TB07030S_prdtCd">
										<span class="input-group-append">
											<button type="button" class="btn btn-default" onclick="callTB06011P('TB07030S');">
												<i class="fa fa-search"></i>
											</button>
										</span>
										<input type="text" class="form-control" id="TB07030S_prdtNm" readonly>
									</div>
								</div>
								<label class="col-sm-1 col-form-label text-right">상환구분</label>
								<div class="col-sm-2 input-group">
									<select class="form-control" id="TB07030S_E020">
										<option value="">전체</option>
									</select>
								</div>
								<label class="col-sm-1 col-form-label text-right">적용환율</label>
								<div class="col-sm-2 input-group">
									<input type="text" class="form-control text-right" id="TB07030S_aplcExchR" value="1.00" oninput="TB07030Sjs.calculator('aplcExchR'); inputNumberFormat(this); restrictDecimalDigits(this, 4)"
										maxlength="9">
								</div>
							</div>
						</div>
						<!-- row2 -->
						<div class="row form-group form-inline text-right mb-2">
							<div class="col-sm-12 form-group">
								<label class="col-sm-1 col-form-label text-right">
									<span class="req"></span>기산일자
									<br>
									(상환일자)
								</label>
								<div class="col-sm-3">
									<span class="input-group date"> <input type="text" class="form-control" value="" id="TB07030S_prarDt" oninput="this.value = this.value.replace(/[^0-9-]/g, '');"
											placeholder="YYYY-MM-DD"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</span>
								</div>
								<label class="col-sm-1 col-form-label text-right">당일환전여부</label>
								<div class="col-sm-2 input-group input-h">
									<div class="col-sm-3 text-left input-group">
										<input type="radio" value="Y" name="TB07030S_thdtEchmYn">
										&nbsp;Y
									</div>
									<div class="col-sm-3 text-left input-group">
										<input type="radio" value="N" name="TB07030S_thdtEchmYn" checked>
										&nbsp;N
									</div>
								</div>
								<label class="col-sm-1 col-form-label text-right">고시환율</label>
								<div class="col-sm-2 input-group">
									<input type="text" class="form-control text-right" id="TB07030S_stdrExrt" disabled>
								</div>
								<div class="col-sm-2 text-right">
									<button class="btn btn-primary" type="button" onclick="TB07030Sjs.srch();">
										<i class="fa fa-search"></i>&nbsp;조회
									</button>
									<button id="" class="btn btn-default" onclick="TB07030Sjs.reset();">
										<i class="fa fa-undo"></i>&nbsp;초기화
									</button>
								</div>
							</div>
						</div>
						<div class="ibox">
							<div class="ibox-title">
								<h5>▶ 상환대상내역</h5>
							</div>
							<div class="ibox-content">
								<div id="grdRdmpTrgt"></div>
							</div>

						</div>
						<div class="row pr-1 pl-1">
							<!-- 관련 보고서 -->
							<div class="col-sm-8">
								<div class="ibox h100">
									<div class="ibox-title">
										<h5>▶ 상환대상상세내역</h5>
										<div class="ibox-tools">
											<button type="button" class="btn btn-default btn-xs" id="" onclick="TB07030Sjs.calPrarAmt();">상환금액계산</button>
										</div>
									</div>
									<div class="ibox-content">
										<div id="grdRdmpTrgtDtl"></div>
									</div>

								</div>
							</div>
							<!-- 회의록 -->
							<div class="col-sm-4 pl-0">
								<div class="ibox" id="excRdmpTrgtAmt">
									<div class="ibox-title">
										<h5>▶ 실행별상환대상금액</h5>
									</div>
									<div class="ibox-content text-right">
										<!-- row1 -->
										<div class="row form-group form-inline text-right mb-1">
											<div class="col-sm-12 form-group">
												<label class="col-sm-4"></label>
												<label class="col-sm-4">금액</label>
												<label class="col-sm-4">원화환산금액</label>
											</div>
										</div>
										<!-- row2 -->
										<div class="row form-group form-inline text-right mb-1">
											<div class="col-sm-12 form-group">
												<label class="col-sm-4">상환대상원금</label>
												<div class="col-sm-8 input-group">
													<input type="text" class="form-control text-right" value="0" id="TB07030S_rdmpTrgtPrna" readonly>
													<input type="text" class="form-control text-right mg-l5" value="0" id="TB07030S_KRW_rdmpTrgtPrna" readonly>
													<input type="hidden" id="TB07030S_orgRdmpTrgtPrna">
												</div>
											</div>
										</div>
										<!-- row2 -->
										<div class="row form-group form-inline text-right mb-1">
											<div class="col-sm-12 form-group">
												<label class="col-sm-4">정상이자</label>
												<div class="col-sm-8 input-group">
													<input type="text" class="form-control text-right" id="TB07030S_nrmlIntrAmt" value="0" oninput="calculator('rdmpTrgtTotAmt');" readonly>
													<input type="text" class="form-control text-right mg-l5" id="TB07030S_KRW_nrmlIntrAmt" value="0" readonly>
													<input type="hidden" id="TB07030S_orgNrmlIntrAmt">
												</div>
											</div>
										</div>
										<!-- row3 -->
										<div class="row form-group form-inline text-right mb-1">
											<div class="col-sm-12 form-group">
												<label class="col-sm-4">연체이자</label>
												<div class="col-sm-8 input-group">
													<input type="text" class="form-control text-right" id="TB07030S_crdtGrntOvduIntAmt" value="0" oninput="calculator('rdmpTrgtTotAmt');" readonly>
													<input type="text" class="form-control text-right mg-l5" id="TB07030S_KRW_crdtGrntOvduIntAmt" value="0" readonly>
													<input type="hidden" id="TB07030S_orgCrdtGrntOvduIntAmt">
												</div>
											</div>
										</div>
										<!-- row4 -->
										<div class="row form-group form-inline text-right mb-1">
											<div class="col-sm-12 form-group">
												<label class="col-sm-4">중도상환원금</label>
												<div class="col-sm-8 input-group">
													<input type="text" class="form-control text-right" id="TB07030S_dealMrdpPrca" value="0" readonly>
													<input type="text" class="form-control text-right mg-l5" id="TB07030S_KRW_dealMrdpPrca" value="0" readonly>
													<input type="hidden" id="TB07030S_orgDealMrdpPrca">
												</div>
											</div>
										</div>
										<!-- row5 -->
										<div class="row form-group form-inline text-right mb-1">
											<div class="col-sm-12 form-group">
												<label class="col-sm-4">중도상환수수료</label>
												<div class="col-sm-8 input-group">
													<input type="text" class="form-control text-right" id="TB07030S_mrdpFeeAmt" value="0" readonly>
													<input type="text" class="form-control text-right mg-l5" id="TB07030S_KRW_mrdpFeeAmt" value="0" readonly>
													<input type="hidden" id="TB07030S_orgMrdpFeeAmt">
												</div>
											</div>
										</div>
										<!-- row6 -->
										<div class="row form-group form-inline text-right mb-1">
											<div class="col-sm-12 form-group">
												<label class="col-sm-4">미수이자합계</label>
												<div class="col-sm-8 input-group">
													<input type="text" class="form-control text-right" id="TB07030S_rcvbIntrSmmAmt" value="0" oninput="TB07030Sjs.calculator('rdmpPrnaSmmAmt'); TB07030Sjs.calculator('aplcExchR');">
													<input type="text" class="form-control text-right mg-l5" id="TB07030S_KRW_rcvbIntrSmmAmt" value="0">
												</div>
											</div>
										</div>
										<!-- row7 -->
										<div class="row form-group form-inline text-right mb-1">
											<div class="col-sm-12 form-group">
												<label class="col-sm-4">면제금액합계</label>
												<div class="col-sm-8 input-group">
													<input type="text" class="form-control text-right" id="TB07030S_exmptSmmAmt" value="0" oninput="TB07030Sjs.calculator('aplcExchR');">
													<input type="text" class="form-control text-right mg-l5" id="TB07030S_KRW_exmptSmmAmt" value="0">
												</div>
											</div>
										</div>
										<!-- row8 -->
										<div class="row form-group form-inline text-right mb-1">
											<div class="col-sm-12 form-group">
												<label class="col-sm-4">상환대상총금액</label>
												<div class="col-sm-8 input-group">
													<input type="text" class="form-control text-right" id="TB07030S_rdmpPrnaSmmAmt" value="0" readonly>
													<input type="text" class="form-control text-right mg-l5" id="TB07030S_KRW_rdmpPrnaSmmAmt" value="0" readonly>
												</div>
											</div>
										</div>
										<!-- row8 -->
										<div class="row form-group form-inline text-left mb-1">
											<div class="col-sm-12 text-left">* 실행별 상환대상금액은 납부예정금액 기준으로 계산됩니다.</div>
										</div>
										<div class="row form-group form-inline text-left mb-1">
											<div class="col-sm-12 text-left">* 상환대상총금액 = 상환대상원금+정상이자+연체이자+중도상환원금+수수료-미수이자</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="ibox">
							<div class="ibox-title">
								<h5>▶&nbsp;상환정보</h5>
							</div>
							<div class="ibox-content">
								<!-- row1 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">
											<span class="req"></span>회수구분
										</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" id="TB07030S_R006">
												<option value="">선택</option>
											</select>
										</div>
										<label class="col-sm-1 col-form-label text-right">
											<span class="req"></span>거래처명
										</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-left" id="TB07030S_bcncNm">
										</div>

										<label class="col-sm-1 col-form-label text-right">현금입금</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07030S_dealCashAmt" value="0" onkeyup="TB07030Sjs.calculator('acptPtclSmtlAmt');">
										</div>
									</div>
								</div>
								<!-- row2 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">
											<span class="req"></span>통화구분
										</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" id="TB07030S_I027">
											</select>
										</div>

										<label class="col-sm-1 col-form-label text-right">
											<span class="req"></span>승인자
										</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control" style="width: 30px;" id="TB07030S_empNo">
											<span class="input-group-append">
												<button type="button" class="btn btn-default" onclick="callTB03022P('TB07030S')">
													<i class="fa fa-search"></i>
												</button>
											</span>
											<input type="text" class="form-control" style="width: 70px;" id="TB07030S_empNm" readonly>
										</div>
										<label class="col-sm-1 col-form-label text-right">은행입금</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07030S_dealAltnAmt" value="0" onkeyup="TB07030Sjs.calculator('acptPtclSmtlAmt');">
										</div>
									</div>
								</div>
								<!-- row3 -->
								<div class="row form-group form-inline text-right mb-1">
									<div class="col-sm-12 form-group">
										<label class="col-sm-1 col-form-label text-right">입금원장명</label>
										<div class="col-sm-3 input-group">
											<select class="form-control" id="TB07030S_rctmLgdNm">
												<option>임시_입금원장명</option>
											</select>
										</div>
										<label class="col-sm-1 col-form-label text-right">내부환전여부</label>
										<div class="col-sm-1 input-group input-h">
											<div class="col-sm-6 text-left input-group">
												<input type="radio" value="Y" name="intlEchmYn">
												&nbsp;Y
											</div>
											<div class="col-sm-6 text-left input-group">
												<input type="radio" value="N" name="intlEchmYn" checked>
												&nbsp;N
											</div>
										</div>
										<label class="col-sm-1 col-form-label text-right">해외송금여부</label>
										<div class="col-sm-1 input-group input-h">
											<div class="col-sm-6 text-left input-group">
												<input type="radio" value="Y" name="ovrsFwdgYn">
												&nbsp;Y
											</div>
											<div class="col-sm-6 text-left input-group">
												<input type="radio" value="N" name="ovrsFwdgYn" checked>
												&nbsp;N
											</div>
										</div>
										<label class="col-sm-1 col-form-label text-right">
											<span class="req"></span>수납내역합계
										</label>
										<div class="col-sm-3 input-group">
											<input type="text" class="form-control text-right" id="TB07030S_acptPtclSmtlAmt" value="0">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="ibox form-inline">
							<div class="col-sm-6 text-left pd0"></div>
							<div class="col-sm-6 text-right pd0">
								<!-- <button class="btn btn-warning mg-l5" type="button" onclick="testAlert('조회서출력을 완료하였습니다.')"><i class="fa fa-print"></i>&nbsp;인쇄</button> -->
								<button class="btn btn-success" type="button" onclick="TB07030Sjs.save();">
									<i class="fa fa-get-pocket"></i>&nbsp;상환
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>