<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{css/plugins/touchspin/jquery.bootstrap-touchspin.min.css}" />
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{js/plugins/touchspin/jquery.bootstrap-touchspin.min.js}"></script>
	<script th:src="@{js/tabs.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/fileUpload.js}"></script>
    <script th:src="@{js/business/tb/TB07200S.js}"></script>
    <script th:src="@{js/business/tb/TB03061P.js}"></script>
    <script th:src="@{js/business/tb/TB06081P.js}"></script>
    <script th:src="@{js/business/tb/TB06082P.js}"></script>
    <script th:src="@{js/business/tb/TB07021P.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
    <th:block th:replace="business/tb/TB03061P :: TB03061P"></th:block>
    <th:block th:replace="business/tb/TB06081P :: TB06081P"></th:block>
    <th:block th:replace="business/tb/TB06082P :: TB06082P"></th:block>
    <th:block th:replace="business/tb/TB07021P :: TB07021P"></th:block>
</th:block>

<th:block layout:fragment="customContent">
    

    <!-- SPC 자금집행 업무지시 요청 -->
	<div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">

                    <!-- 결재요청자세팅 (상세버튼 클릭시) -->
                    <!-- HND_EMPNO 세팅해주세요 -->
                    <input type="hidden" id="TB07200S_empNo" />
                    <!-- FINC_EXCU_RQS_SN 세팅해주세요 -->
                    <input type="hidden" id="TB07200S_ibDealNo" />

                    <!-- 조회 조건 -->
					<div class="ibox-content mb-2">
                        <div class="row form-group form-inline text-right">
                            <div class="col-sm-10 form-group  mb-1">
                                <label class="col-sm-1 control-label">신청일자</label>
								<div class="col-sm-3 input-group">
									<div class="col-sm-5 input-group date px-0">
										<input type="text" class="form-control" id="TB07200S_fromDate" name="" value="">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
									<span class="input-group-addon border-none"> ~ </span>
									<div class="col-sm-5 input-group date px-0">
										<input type="text" class="form-control" id="TB07200S_toDate" name="" value="">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
                                <label class="col-sm-1 control-label">
									결재상태
								</label>
								<div class="col-sm-2">
									<div class="input-group">
										<select class="form-control" id="TB07200S_D006">
											<option value="">전체</option>
										</select>
									</div>
								</div>
                                <!-- <label class="col-sm-1 col-form-label text-right">자산관리계좌</label>
                                <div class="col-sm-2 input-group">
									<input type="text" class="form-control" style="" id="TB07200S_asstMngmAcno">
                                </div> -->
                            </div>
                            <div class="col-sm-10 form-group">
                                <label class="col-sm-1 col-form-label text-right">SPC</label>
                                <div class="col-sm-3 input-group">
									<input type="text" class="form-control" style="width: 30px;" id="TB07200S_ardyBzepNo">
									<span class="input-group-append">
										<button type="button" class="btn btn-default" onclick="callTB03061P('TB07200S');"><i class="fa fa-search"></i></button>
									</span>
									<input type="text" class="form-control" style="width: 70px;" id="TB07200S_entpNm" readonly>
								</div>
                                <label class="col-sm-1 col-form-label text-right">계약명</label>
                                <div class="col-sm-2 input-group">
									<input type="text" class="form-control" style="" id="TB07200S_ibCtrtNm">
                                </div>
                                <label class="col-sm-1 col-form-label text-right">관리부점</label>
                                <div class="col-sm-3 input-group">
									<select class="form-control" id="TB07200S_dprtNm">
										<option value="">전체</option>
									</select>
									<input type="text" class="form-control" id="TB07200S_dprtCd" readonly="">
								</div>
                            </div>
                            <!-- 버튼영역 -->
                            <div class="col-sm-2 form-group mb-1">
                                <div class="col-sm-12 text-right">
                                    <button class="btn btn-primary" onclick="TB07200Sjs.selectSpcList();">
                                        <i class="fa fa-search"></i>&nbsp;조회</button>
                                    <button class="btn btn-default" type="button" onclick="TB07200Sjs.reset_TB07200S();">
                                        <i class="fa fa-undo"></i>&nbsp;초기화
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content" style="min-height: 800px">
                        <!--자금집행업무지시요청 목록-->
                        <div class="ibox">
							<div class="ibox-title">
								<div>
									<h5>▶ 자금집행업무지시요청 목록</h5>
								</div>
                                <div class="ibox-tools">
                                    <!-- <button class="btn btn-success btn-xs" type="button" onclick="">&nbsp;복사</button> -->
									<button class="btn btn-default btn-xs" type="button" onclick="TB07200Sjs.addRows_TB07200S(`#TB07200S_wrkRqst`)"><i class="fa fa-plus"></i>&nbsp;행추가</button>
									<button class="btn btn-default btn-xs" type="button" onclick="TB07200Sjs.dltRows_TB07200S(`#TB07200S_wrkRqst`)"><i class="fa fa-minus"></i>&nbsp;행삭제</button>
								</div>
							</div>
							<div class="ibox-content">
								<div id="TB07200S_wrkRqst"></div>
							</div>
						</div>
                        <div class="row">
                            <!--유동화증권 발행(예정) 내역-->
                            <div class="col-lg-6">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <div>
                                            <h5>▶&nbsp;유동화증권 발행(예정) 내역</h5>
                                        </div>
                                        <div class="ibox-tools">
                                            <input type="checkbox" id="TB07200S_pblHisChk">해당없음&nbsp;</input>
                                            <button class="btn btn-default btn-xs" type="button" id="pblHisPlsBtn" onclick="TB07200Sjs.addRows_TB07200S(`#TB07200S_pblHis`)"><i class="fa fa-plus"></i>&nbsp;행추가</button>
                                            <button class="btn btn-default btn-xs" type="button" id="pblHisMnsBtn" onclick="TB07200Sjs.dltRows_TB07200S(`#TB07200S_pblHis`)"><i class="fa fa-minus"></i>&nbsp;행삭제</button>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <div id="TB07200S_pblHis"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>▶ 관련자료</h5>
                                        <div class="ibox-tools">
                                            <div th:fragment="file" id="file-upload">
                                                <form id="upload-file-form">
                                                    <input type="hidden" id="fileKey1" name="fileKey1">
                                                    <input type="hidden" id="fileKey2" name="fileKey2" value="*">
                                                    <input type="hidden" id="atchFleDcd" name="atchFleDcd">
                                                    <input type="hidden" class="form-control" id="key1" value="TB07200S">
                                                    <button class="btn btn-default btn-xs" type="button"
                                                        id="UPLOAD_AddFile" disabled><i
                                                            class="fa fa-upload"></i>&nbsp;파일추가</button>
                                                    <button class="btn btn-default btn-xs" type="button"
                                                        id="UPLOAD_DelFiles" disabled><i
                                                            class="fa fa-eraser"></i>&nbsp;파일삭제</button>
                                                    <div style="display: none">
                                                        <input type="file" class="custom-file-input"
                                                            id="deal-upload-input" name="uploadfile" accept="*">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <table class="table table-bordered">
                                            <colgroup>
                                                <col style="width: 5%;">
                                                <col style="width: 15%;">
                                                <col style="width: 65%;">
                                                <col style="width: 20%;">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>첨부파일구분</th>
                                                    <th>파일명</th>
                                                    <th>등록일자</th>
                                                </tr>
                                            </thead>
                                            <tbody id="UPLOAD_FileList">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--입금요청-->
                        <div class="ibox">
                            <div class="ibox-title">
								<div>
									<h5>▶ 입금요청</h5>
								</div>
                                <div class="ibox-tools">
                                    <button class="btn btn-default btn-xs" type="button" onclick="TB07200Sjs.addRows_TB07200S(`#TB07200S_dpstRqst`)"><i class="fa fa-plus"></i>&nbsp;행추가</button>
                                    <button class="btn btn-default btn-xs" type="button" onclick="TB07200Sjs.dltRows_TB07200S(`#TB07200S_dpstRqst`)"><i class="fa fa-minus"></i>&nbsp;행삭제</button>
                                </div>
							</div>
							<div class="ibox-content">
								<div id="TB07200S_dpstRqst"></div>
							</div>
                        </div>	
                        <!--출금요청-->
                        <div class="ibox">
                            <div class="ibox-title">
								<div>
									<h5>▶ 출금요청</h5>
								</div>
                                <div class="ibox-tools">
                                    <!-- <button class="btn btn-success btn-xs" type="button" onclick="">&nbsp;계좌확인</button> -->
									<button class="btn btn-default btn-xs" type="button" onclick="TB07200Sjs.addRows_TB07200S(`#TB07200S_wthdrwlRqst`)"><i class="fa fa-plus"></i>&nbsp;행추가</button>
									<button class="btn btn-default btn-xs" type="button" onclick="TB07200Sjs.dltRows_TB07200S(`#TB07200S_wthdrwlRqst`)"><i class="fa fa-minus"></i>&nbsp;행삭제</button>
								</div>
							</div>
							<div class="ibox-content">
								<div id="TB07200S_wthdrwlRqst"></div>
							</div>
                        </div>	
                        <!--버튼영역-->
                        <div class="ibox form-inline">
							<div class="col-sm-6 text-left pd0">
							</div>
							<div class="col-sm-6 text-right pd0">
								<button class="btn btn-success mg-l5" type="button" onclick="TB07200Sjs.spcSave();"><i class="fa fa-save"></i>&nbsp;저장</button>
								<button class="btn btn-info" type="button" onclick="callTB06081P('TB07200S');" hidden><i class="fa fa-square-o"></i>&nbsp;결재요청</button>
								<button class="btn btn-success" type="button" onclick="callTB06082P('TB07200S', 'DECD');" hidden><i class="fa fa-check-square-o"></i>&nbsp;결재</button>
								<button class="btn btn-danger" type="button" onclick="callTB06082P('TB07200S', 'RJCT');" hidden><i class="fa fa-undo"></i>&nbsp;반려</button>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>