<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{css/plugins/touchspin/jquery.bootstrap-touchspin.min.css}" />
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{js/plugins/touchspin/jquery.bootstrap-touchspin.min.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/fileUpload.js}"></script>
	<script th:src="@{js/business/tb/TB09201S.js}"></script>
</th:block>

<th:block layout:fragment="customContent">
	<!-- 경영현황 -->
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox ">
					<!-- 조회조건영역 -->
					<div class="ibox-content mb-2 i-filter">
						<!-- 1 -->
						<div class="form-group form-inline row">
							<div class="col-sm-10 form-group mb-1">
								<label class="col-sm-1 control-label">
									<span class="req"></span>기준일자
								</label>
								<div class="col-sm-2 input-group">
									<span class="input-group date">
										<input type="text" class="form-control" id="TB09201S_stdrDt" name="FromDate" value=""
											placeholder="YYYY-MM-DD" maxlength="10">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</span>
								</div>
							</div>
							<div class="col-sm-1-5 text-right pl-0">
								<button class="btn btn-primary" type="button" onclick="TB09201Sjs.getMngSttn();">
									<i class="fa fa-search"></i>&nbsp;조회
								</button>
								<button class="btn btn-default" type="button" onclick="TB09201Sjs.resetAll();">
									<i class="fa fa-undo"></i>&nbsp;초기화
								</button>
							</div>
						</div>
					</div>


					<div class="ibox-content" style="min-height: 800px">
						<div class="row">

							<!-- 부서별 실적현황 -->
							<div class="ibox col-lg-6">
								<div class="ibox-title">
									<h4>▶ 부서별 실적현황</h4>
								</div>
								<div class="ibox-content">
									<div style="height:400px">
										<div id="TB09201S_colModel1"></div>
									</div>
								</div>
							</div>

							<!-- 부서별 CIB 투자현황 -->
							<div class="ibox col-lg-6 pl-0">
								<div class="ibox-title">
									<div class="row">
										<h4 class="col-sm-6 pl-3">▶ 부서별 IB 투자현황</h4>
										<div class="col-sm-6 input-group justify-content-end pr-3">
											<label class="col-sm-3 col-form-label text-right">사업유형</label>
											<select class="col-sm-6 form-control " id="">
												<option value="">부동산금융</option>
											</select>
										</div>
									</div>
								</div>
								<div class="ibox-content">
									<div style="height:400px">
										<div id="TB09201S_colModel2"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<!-- 부동산 고위험 투자현황 -->
							<div class="ibox col-lg-6">
								<div class="ibox-title">
									<h4>▶ 부동산 고위험 투자현황</h4>
								</div>
								<div class="ibox-content">
									<div style="height:180px">
										<div id="TB09201S_colModel3"></div>
									</div>
								</div>
							</div>

							<!-- 부동산 지역별 투자현황 -->
							<div class="ibox col-lg-6 pl-0">
								<div class="ibox-title">
									<h4>▶ 부동산 지역별 투자현황</h4>
								</div>
								<div class="ibox-content">
									<div style="height:180px">
										<div id="TB09201S_colModel4"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="ibox">
							<div class="text-right">
								<button class="btn btn-warning" type="button" id="exelDown" onclick="TB09201Sjs.saveExcelFile();">
									<i class="fa fa-download"></i>&nbsp;엑셀다운로드
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>