<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/ramsLayout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{css/plugins/touchspin/jquery.bootstrap-touchspin.min.css}" />
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{js/plugins/touchspin/jquery.bootstrap-touchspin.min.js}"></script>
	<script th:src="@{js/common.js}"></script>
	<script th:src="@{js/fileUpload.js}"></script>
	<script th:src="@{js/business/tb/TB09060S.js}"></script>
	<script th:src="@{js/business/tb/TB03021P.js}"></script>
	<script th:src="@{js/business/tb/TB03022P.js}"></script>
	<script th:src="@{js/business/tb/TB06011P.js}"></script>
</th:block>

<th:block layout:fragment="modalpopup">
	<th:block th:replace="business/tb/TB06011P :: TB06011P"></th:block>
	<th:block th:replace="business/tb/TB03021P :: TB03021P"></th:block>
	<th:block th:replace="business/tb/TB03022P :: TB03022P"></th:block>
</th:block>

<th:block layout:fragment="customContent">
	<!-- 연체내역조회 -->
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<!-- 조회조건영역 -->
					<div class="ibox-content i-filter">
						<div class="form-group row form-inline">
							<div class="col-sm-10 form-group mb-1">
								<!-- 연채일자 -->
								<label class="col-sm-1 control-label"><span class="req"></span>
									연체일자
								</label>
								<div class="col-sm-5 input-group">
									<div class="col-sm-5 input-group date px-0">
										<input type="text" class="form-control" id="TB09060S_startDt" name="" value="">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
									<span class="input-group-addon border-none"> ~ </span>
									<div class="col-sm-5 input-group date px-0">
										<input type="text" class="form-control" id="TB09060S_endDt" name="" value="">
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
								</div>								
							</div>
							<div class="col-sm-10 form-group">
								<!-- 종목코드 -->
								<label class="col-sm-1 control-label">
									종목코드
								</label>
								<div class="col-sm-4">
									<div class="input-group">
										<input type="text" class="form-control" id="TB09060S_prdtCd">
										<span class="input-group-append">
											<button type="button" class="btn btn-default" onclick="callTB06011P('TB09060S');"><i class="fa fa-search"></i></button>
										</span>
										<input type="text" class="form-control" id="TB09060S_prdtNm" style="width:70px;" readonly>
									</div>
								</div>
								<!-- 실행순번 -->
								<label class="col-sm-1 control-label">
									실행순번
								</label>
								<div class="col-sm-1 input-group">
									<select class="form-control" id="TB09060S_excSn" disabled>
										<option value="">선택</option>
									</select>
								</div>
								<!-- 관리부서
								<label class="col-sm-1 col-form-label text-right">관리부서</label>
								<div class="col-sm-3 input-group">
									<div class="input-group">
										<select class="form-control" id="TB09060S_dprtNm">
											<option value="">전체</option>
										</select>
										<input type="text" class="form-control" id="TB09060S_dprtCd" readonly="">
									</div>
								</div> -->
								<!-- 연체해제여부 -->
								<label class="col-sm-1 control-label">
									연체해제여부
								</label>
								<div class="col-sm-1 input-group">
									<select class="form-control" id="TB09060S_ovduRlseYnCd">
										<option value="0">전체</option>
										<option value="1">연체</option>
										<option value="2">연체해제</option>
									</select>
								</div>
							</div>
							<!-- 버튼영역 -->
							<div class="col-sm-1 text-right">
								<button class="btn btn-primary" onclick="TB09060Sjs.getList1();">
									<i class="fa fa-search"></i>&nbsp;조회</button>
							</div>
						</div>
					</div>
					<!-- 조회결과 -->
					<div class="ibox-content">
						<div class="ibox">
							<div class="ibox-title">
								<h5>▶ 연체내역</h5>
							</div>
							<div class="ibox-content">
								<div id="TB09060S_grid1"></div>
							</div>
						</div>
					</div>
					<div class="ibox-content i-filter">
						<div class="form-group row form-inline">
							<div class="col-sm-10 form-group mb-1">
								<label class="col-sm-1 control-label">
									사후관리번호
								</label>
								<div class="col-sm-2 input-group">
									<input type="text" class="form-control" id="TB09060S_afctMngmNo2" name="" value=""
										readonly="">
								</div>
								<label class="col-sm-1 control-label">
									Deal번호
								</label>
								<div class="col-sm-2 input-group">
									<input type="text" class="form-control" id="TB09060S_dealNo" name="" value=""
										readonly="">
								</div>
								<label class="col-sm-1 control-label">
									Deal명
								</label>
								<div class="col-sm-3 input-group">
									<input type="text" class="form-control" id="TB09060S_dealNm" name="" value=""
										readonly="">
								</div>
								<!-- <label class="col-sm-1 control-label">
									종목코드
								</label>
								<div class="col-sm-2 input-group">
									<input type="text" class="form-control" id="TB09060S_prdtCd2" name="" value=""
										readonly="">
								</div>
								<label class="col-sm-1 control-label">
									실행순번
								</label>
								<div class="col-sm-1 input-group">
									<input type="text" class="form-control" id="TB09060S_excSn2" name="" value=""
										readonly="">
								</div> -->
							</div>
							<div class="col-sm-10 form-group">
								<label class="col-sm-1 control-label">
									종목코드
								</label>
								<div class="col-sm-2 input-group">
									<input type="text" class="form-control" id="TB09060S_prdtCd2" name="" value=""
										readonly="">
								</div>
								<label class="col-sm-1 control-label">
									실행순번
								</label>
								<div class="col-sm-1 input-group">
									<input type="text" class="form-control" id="TB09060S_excSn2" name="" value=""
										readonly="">
								</div>
								<!-- <label class="col-sm-1 col-form-label text-right">확정여부</label>
								<div class="col-sm-2 input-group">
									<input type="checkbox" id="TB09060S_dcsnYn">
								</div> -->
							</div>
							<div class="col-sm-1 text-right">
								<button class="btn btn-success" type="button" onclick="TB09060Sjs.saveDcsn();"><i
										class="fa fa-save"></i>&nbsp;연체내역확정</button>
							</div>
						</div>
					</div>
					<!-- 조회결과 -->
					<div class="ibox-content">
						<div class="ibox">
							<div class="ibox-title">
								<h5>▶ 확정연체내역</h5>
							</div>
							<div class="ibox-content">
								<div id="TB09060S_grid2"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- row -->
	</div>
</th:block>

</html>